body {
    background-color: black;
    color: goldenrod;
    display: grid;
    place-content: center;
    text-transform: capitalize;
    font-family:  sans-serif;
    box-sizing: border-box;
    
}

img {
    border-radius: 20px;;
    border: 5px solid goldenrod;
   
    
    box-shadow:  
                 3px 4px 19px goldenrod;
    width: 90%;
    height: 400px;
    margin-left: 0.9rem;
}

div {
    width: 99%;
    height: 102%;
    display: grid;
    place-content: center;
    border-radius: 26px;
    box-shadow:
        inset 0 0 0.85rem goldenrod,
        0 0 0.25em currentColor;
    position: relative;
}


div::before {
    content: "";
    top: 120%;
    left: 0;
    width: 100%;
    height: 102%;
    position: absolute;
    background-color: goldenrod;
    transform: perspective(1em) rotateX(45deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    font-size: 1.5rem;
}

ul li {
    list-style-type: square;
}


p {
    font-size: 1.5rem;
}

p a {
    font-weight: bolder;
    color: whitesmoke;
    text-decoration: none;
    text-shadow:
     0 0 0.35em goldenrod,
        0 0 0.65em goldenrod;
}

input {
    display: block;
    height: 2.8rem;
    width: 12rem;
    font-size: 1.2rem;
    border-bottom-left-radius: 1rem;
    background: none;
    outline: 1px solid goldenrod;
    transition: 5s;
}




button {
    margin-top: 1rem;
    color: black;
    height: 3.5rem;
    width: 12rem;
    background-color: goldenrod;
    border-bottom-right-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-shadow:
        0 0 0.25em white,
        0 0 0.25em currentColor;
    box-shadow:
        inset 0 0 0.25em goldenrod,
        0 0 0.25em currentColor; 
    position: relative;
    margin-left: 1rem;
}

@media (max-width:320px) {

    img {
        margin-top: -0.5rem;
        border-radius: 22px;
        width: 99%;
        height: 400px;
     
}
}

